<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Главная страница</a>
            <input id="search-input" type="text" placeholder="Поиск продукта" oninput="searchProduct()">
            <button type="button" onclick="performSearch()">Поиск</button>
        </nav>
    </header>
    <main id="main-content">
        <section class="product-list">
            <!-- Product items go here -->
        </section>
    </main>
</body>
</html>
